.o-404 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.o-404__heading {
    font-size: rem-calc(100);
}
