.o-blog-archive__content {
    position: relative;

    @include breakpoint(medium) {
        margin-top: $space * 1.75;
        padding-top: $space * 4.75;
        padding-bottom: $space * 5;
    }
    @include breakpoint(small only) {
        padding: $space * 2 0;
    }
}

.o-blog-archive__row:first-child {
    padding-top: $space;
}

.o-blog-archive__grid {
    @include breakpoint(large) {
        grid-column-gap: 80px;
        grid-row-gap: 80px;
    }
    @include breakpoint(medium only) {
        grid-column-gap: 2%;
        grid-row-gap: 2%;
    }
    @include breakpoint(medium) {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
    }
}

.o-blog-archive__post-card {
    @include breakpoint(small only) {
        padding-bottom: $space * 2;
    }
}
