.o-case-study-stats {
    overflow: hidden;

    position: relative;

    background-color: $color-beta;

    @include breakpoint(large) {
        padding-top: rem-calc(285);
        padding-bottom: rem-calc(115);
    }
    @include breakpoint(medium only) {
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(100);
    }
    @include breakpoint(medium) {
        margin-top: rem-calc(-100);
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 4;
    }
}

.o-case-study-stats::after {
    content: '';

    width: 67%;
    height: 0;
    padding-bottom: 44%;

    position: absolute;
    top: 1.2rem;
    right: 1rem;

    background-image: url('../img/stat.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
