.o-checklist {
    overflow-x: hidden;

    @include breakpoint(medium) {
        padding-bottom: $space * 18;
    }
    @include breakpoint(small only) {
        padding-bottom: $space;
    }
}

.o-checklist__inner {
    position: relative;
}

.o-checklist__heading {
    margin-bottom: rem-calc(60);
}

.o-checklist__webinar-preview {
    @include breakpoint(medium) {
        width: 610px;

        position: absolute;

        opacity: 0.7;
    }
    @include breakpoint(small only) {
        display: none;
    }
}

.o-checklist__webinar-preview--top-right {
    @include breakpoint(medium) {
        top: 0;
        right: -530px;

        transform: scale(0.43) translateY(60%);
    }
}

.o-checklist__webinar-preview--bottom-right {
    @include breakpoint(medium) {
        top: 160px;
        right: -425px;
        z-index: 1;

        transform: scale(0.69) translateY(60%);
    }
}

.o-checklist__webinar-preview--bottom {
    @include breakpoint(medium) {
        top: 470px;
        right: -90px;

        transform: scale(0.55);
    }
}

.o-checklist__slider {
    @include breakpoint(small only) {
        padding-top: $space * 2;
    }
}
