.o-columns {
    background-image: url('../img/hero-people.jpg');
    background-size: cover;

    @include breakpoint(large) {
        padding: rem-calc(110) 0;
    }
    @include breakpoint(medium) {
        min-height: rem-calc(850);
    }
    @include breakpoint(medium only) {
        padding: $space * 3 0;
    }
    @include breakpoint(small only) {
        padding: $space 0 $space;
    }
    @include full-height-block();
}

.o-columns__image {
    padding-bottom: rem-calc(45);

    @include breakpoint(medium) {
        max-width: 250px;
    }
    @include breakpoint(small only) {
        width: 100%;
        max-width: rem-calc(250);
    }

    .has-hidden-mob-elems & {
        @include breakpoint(small only) {
            padding-bottom: 0;
        }
    }
}

.o-columns__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o-columns__heading {
    font-family: $header-font-family;

    @include breakpoint(medium) {
        padding-bottom: 7 * $space;

        font-size: rem-calc(44);
    }
    @include breakpoint(small only) {
        padding-bottom: 3 * $space;

        font-size: rem-calc(30);
    }
}

.o-columns__col {
    @include breakpoint(small only) {
        padding-bottom: 2 * $space;
    }
}

.o-columns__copy,
.o-columns__link {
    .has-hidden-mob-elems & {
        @include breakpoint(small only) {
            display: none;
        }
    }
}
