.o-contact {
    position: relative;

    background-color: $color-beta;

    @include breakpoint(medium) {
        padding: 17.5vh 0;
        overflow: hidden;
    }
    @include breakpoint(small only) {
        padding: $space 0;
    }
}

.o-contact::after {
    content: '';

    width: 73%;
    height: 0;
    padding-bottom: 34.8%;

    position: absolute;
    right: 1rem;
    bottom: 4rem;

    background-image: url('../img/hello.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.o-contact__heading,
.o-contact__dropdown-form {
    position: relative;
    z-index: 1;
}

.o-contact__heading {
    @extend %utl-heading-alpha;

    padding-bottom: $space;

    color: $black;
}

.o-contact__dropdown-form::after {
    content: '';

    width: 113%;
    height: 0;
    padding-bottom: 3%;

    position: absolute;
    bottom: 25px;
    left: -8%;

    background-image: url('../img/dropdown-gradient-line-white.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
