.o-contact-page {
    @include breakpoint(medium) {
        position: relative;
    }
}

.o-contact-page__inner {
    width: 100%;
    max-width: rem-calc(1080);
    margin: 0 auto;

    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
        padding-top: rem-calc(270);
        padding-bottom: rem-calc(510);
    }
}

.o-contact-page::after {
    @include breakpoint(medium) {
        content: '';

        width: 73%;
        height: 0;
        padding-bottom: 34.8%;

        position: absolute;
        top: 0;
        top: $space * 2;
        left: -0.2rem;

        background-image: url('../img/hello.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
