.o-copy {
    @include breakpoint(medium) {
        padding-top: $space * 6;

        position: relative;
    }
    @include breakpoint(large only) {
        padding-top: rem-calc(120);
    }
    @include breakpoint(small only) {
        padding: $space 0 $space * 1.5;
    }
}

.o-copy::before {
    @include breakpoint(medium) {
        content: '';

        width: 90%;
        height: 0;
        padding-bottom: 34.8%;

        position: absolute;
        top: 50%;
        left: 50%;

        background-image: url('../img/experts.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;

        transform: translateY(-50%) translateX(-50%);
    }
}

.o-copy p {
    font-family: 'Open Sans';
}

.o-copy p:last-child {
    margin-bottom: 0;
}

.o-copy__row {
    @include breakpoint(medium) {
        padding-bottom: $space * 2;
    }
    @include breakpoint(small only) {
        padding-bottom: $space;
    }
}

.o-copy__row:last-child {
    @include breakpoint(medium) {
        padding-bottom: rem-calc(80);
    }
    @include breakpoint(small only) {
        padding-bottom: 0;
    }
}

.o-copy__image {
    @include breakpoint(small only) {
        padding-bottom: rem-calc(30);
    }
}
