.o-footer-logos {
    padding: $space 0;

    img {
        filter: brightness(0) invert(1);
    }
}

.o-footer-logos__grid-container {
    @include xy-grid-container;
}

.o-footer-logos__grid {
    align-items: center;

    @include xy-grid;
    @include breakpoint(medium down) {
        justify-content: center;
    }
}

.o-footer-logos__logo {
    @include breakpoint(small only) {
        @include xy-cell(4);
    }
    @include breakpoint(medium only) {
        @include xy-cell(3);
    }
    @include breakpoint(medium down) {
        margin-bottom: $space;
    }
    @include breakpoint(large) {
        @include xy-cell(auto);
    }
}
