.o-footer {
    padding: rem-calc(40) 0;
}

.o-footer__social-icons {
    @include breakpoint(medium) {
        padding-bottom: rem-calc(120);
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 3;
    }
}

.o-footer__nav {
    padding-bottom: rem-calc(55);

    @include breakpoint(small only) {
        text-align: center;
    }
}

.o-footer__nav a {
    color: $white;
    font-size: rem-calc(16);
    letter-spacing: rem-calc(3);
    text-transform: uppercase;
}

.o-footer__copyright {
    color: #707070;

    @include breakpoint(medium) {
        padding-bottom: $space * 1.5;
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 3;
    }
}
