.o-gallery-slider {
    @include breakpoint(medium) {
        padding-top: 1.5 * $space;
    }
    @include breakpoint(small only) {
        overflow-x: hidden;
    }
}

.o-gallery-slider__heading {
    @include breakpoint(medium) {
        padding-bottom: rem-calc(85);
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 2;
    }
}

.o-gallery-slider__grid-container {
    @include breakpoint(medium down) {
        @include xy-grid-container;
    }
}
