.o-header {
    padding: $space $space * 1.25;

    position: relative;
}

.o-header__button-container {
    @include breakpoint(small only) {
        padding-top: $space;
    }
}

.o-header__logo {
    @include breakpoint(medium) {
        position: absolute;
        left: 50%;

        transform: translateX(-50%);
    }
    @include breakpoint(small only) {
        width: 100%;
    }
}
