.o-hero-slider {
    position: relative;
    z-index: 1;
}

.o-hero-slider__arrow {
    content: '';

    position: absolute;
    left: 8.333%;

    background-image: url('../img/scroll-icon.svg');
    background-size: 100% auto;

    transform: translateY(50%);

    @include breakpoint(medium) {
        width: rem-calc(84);
        height: rem-calc(84);

        bottom: 0;
    }
    @include breakpoint(small only) {
        width: rem-calc(50);
        height: rem-calc(50);

        bottom: 1rem;
    }
}
