.o-image-copy {
    @include breakpoint(medium) {
        padding-top: rem-calc(130);
    }
    @include breakpoint(small only) {
        padding-top: $space;
    }
}

.o-image-copy__inner {
    max-width: 1640px;
    margin: 0 auto;
    padding-right: $grid-container-padding / 2;
    padding-left: $grid-container-padding / 2;
}

.o-image-copy__row {
    position: relative;

    @include breakpoint(large) {
        margin-bottom: rem-calc(245);
    }
    @include breakpoint(medium only) {
        margin-bottom: rem-calc(150);
    }
    @include breakpoint(small only) {
        margin-bottom: $space * 4;
    }
}

.o-image-copy__widget-container {
    width: 100%;

    @include breakpoint(large) {
        bottom: -75px;
    }
    @include breakpoint(medium) {
        position: absolute;
        left: 0;
    }
    @include breakpoint(medium only) {
        bottom: -17vw;
    }
}

.o-image-copy__widget-container--arrow::before {
}
