.o-intro {
    text-align: center;

    background-image: url('../img/intro-hero.png');
    background-size: cover;

    @include breakpoint(large) {
        padding: 7.25 * $space 0;
    }
    @include breakpoint(medium) {
        height: 80vh;
        min-height: $space * 40;
    }
    @include breakpoint(medium only) {
        padding: 5 * $space 0;
    }
    @include breakpoint(small only) {
        padding: $space 0;
    }
}

.o-intro__copy {
    font-family: $header-font-family;

    @include breakpoint(medium) {
        padding-bottom: rem-calc(90);

        font-size: rem-calc(44);
        line-height: 1;
    }
    @include breakpoint(small only) {
        padding-bottom: $space;

        font-size: rem-calc(30);
        line-height: 1.2;
    }
}
