.o-join {
    background-image: url('../img/intro-hero.png');
    background-size: cover;

    @include breakpoint(large) {
        padding: 7.25 * $space 0;
    }
    @include breakpoint(medium only) {
        padding: 5 * $space 0;
    }
    @include breakpoint(small only) {
        padding: $space * 3 0;

        text-align: center;
    }
    @include full-height-block();
}

.o-join__copy {
    font-family: $header-font-family;
    line-height: 1.2;

    @include breakpoint(medium) {
        font-size: rem-calc(44);
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 3;

        font-size: rem-calc(30);
    }
}

.o-join__button-container {
    @include breakpoint(medium) {
        padding: rem-calc(55);

        position: relative;
    }
}

.o-join__button-container::after {
    @include breakpoint(medium) {
        content: '';

        width: 100%;
        padding-bottom: 49%;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        background-image: url('../img/line-circle.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;

        transform: translateX(-50%) translateY(-50%);
    }
}

.o-join__button-container a {
    position: relative;
    z-index: 2;
}
