.o-members-archive__nav {
    padding-top: rem-calc(5);

    position: relative;
}

.o-members-archive__content {
    margin-top: $space * 1.75;
    padding-top: $space * 4.75;
    padding-bottom: $space * 10;

    position: relative;
}

.o-members-archive__content--webinars::after {
    @include breakpoint(medium) {
        content: '';

        width: 73%;
        height: 0;
        padding-bottom: 23.7%;

        position: absolute;
        top: 0;
        left: 50%;

        background-image: url('../img/webinar.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;

        transform: translateX(-50%);
    }
}

.o-members-archive__row:first-child {
    padding-top: $space;
}

.o-members-archive__grid {
    @include breakpoint(large) {
        grid-column-gap: 80px;
        grid-row-gap: 80px;
    }
    @include breakpoint(medium only) {
        grid-column-gap: 2%;
        grid-row-gap: 2%;
    }
    @include breakpoint(medium) {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
    }
}

.o-members-archive__post-card {
    @include breakpoint(small only) {
        padding-bottom: $space * 2;
    }
}
