.o-related-posts {
    padding-top: rem-calc(120);
}

.o-related-posts__heading {
    color: $color-beta;

    @include breakpoint(medium) {
        padding-bottom: rem-calc(200);
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 4;
    }
}

.o-related-posts__slider {
    padding-bottom: rem-calc(130);
}
