.o-widget-container {
    @include breakpoint(large) {
        transform: translateY(-50%);
    }
    @include breakpoint(medium) {
        position: relative;
        top: -50%;
        z-index: 1;
    }
    @include breakpoint(medium only) {
        transform: translateY(-15%);
    }
}

.o-widget-container--hero {
    @include breakpoint(small only) {
        margin-bottom: $space * 3;
    }
}

.o-widget-container--gallery-slider {
    @include breakpoint(small only) {
        margin-bottom: $space;
    }
}
