.c-account-icon {
    width: rem-calc(45);
    height: rem-calc(45);
    margin-right: rem-calc(25);

    text-indent: -9999px;

    background-image: url('../img/account-icon.svg');
    background-size: contain;
}
