.c-scroll-to-top {
    display: none;
    border-radius: 50%;

    position: fixed;
    z-index: 10;

    background-color: $color-alpha;
    background-image: url('../img/scroll-icon.svg');
    background-size: 100% auto;

    transform: rotate(180deg);

    @include breakpoint(medium) {
        width: 4vw;
        max-width: rem-calc(84);
        height: 4vw;
        max-height: rem-calc(84);

        right: $space;
        bottom: $space;
    }
    @include breakpoint(small only) {
        width: rem-calc(40);
        height: rem-calc(40);

        right: rem-calc(5);
        bottom: rem-calc(5);
    }
}


.c-scroll-to-top.is-active {
    opacity: 1;
}
