.c-centralised-copy {
    @include breakpoint(small only) {
        padding: $space * 2 0;
    }
    @include breakpoint(medium) {
        padding: $space * 4 0;
    }
}

.c-centralised-copy__content {
    @extend %utl-heading-gamma;

    @include breakpoint(medium) {
        width: 70%;
        margin: 0 auto;
    }
}
