.c-checklist {
    margin-left: 0;

    list-style-type: none;
}

.c-checklist__li::before {
    content: '';

    width: rem-calc(47);
    height: rem-calc(35.5);
    margin-right: rem-calc(15);

    background-image: url('../img/tick-green.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.c-checklist__li {
    display: flex;
    padding-bottom: rem-calc(22);
    align-items: center;
}
