.c-gallery-slider__slide-inner {
    width: 100%;
    margin: 0 auto;

    position: relative;

    @include breakpoint(medium) {
        padding-bottom: 50%;
    }
    @include breakpoint(small only) {
        margin-bottom: $space * 2;
        padding-bottom: 112%;
    }
}

.c-gallery-slider__background {
    background-size: 100% auto;
}

.c-gallery-slider__cover {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    // @include breakpoint(small only) {
    //     margin-bottom: $space * 2;
    // }
}
