.c-hero-slide {
    position: relative;
}

.o-hero-slider__container {
    max-width: 1640px;
    margin: 0 auto;
    padding-right: $grid-container-padding / 2;
    padding-left: $grid-container-padding / 2;

    @include breakpoint(small only) {
        padding-bottom: rem-calc(15);
    }
}

.c-hero-slide__slide {
    position: relative;

    @include breakpoint(medium) {
        padding-bottom: 75vh;
    }
    @include breakpoint(small only) {
        padding-bottom: 112%;
    }
}

.c-hero-slide__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-hero-slide__cover {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.c-hero-slide__heading {
    @extend %utl-heading-alpha;

    padding-bottom: $space;
}

.c-hero-slide .slick-arrow {
    position: absolute;

    text-indent: -9999px;

    @include breakpoint(medium) {
        width: rem-calc(40);
        height: rem-calc(40);

        top: 50%;
        z-index: 1;

        background-repeat: no-repeat;
        background-size: 100% auto;

        transform: translateY(-50%);
    }
    @include breakpoint(small only) {
        display: none;
    }
}

.c-hero-slide .slick-prev {
    @include breakpoint(medium) {
        left: 0;

        background-image: url('../img/slider-arrow-left.svg');
    }
}


.c-hero-slide .slick-next {
    @include breakpoint(medium) {
        right: 0;

        background-image: url('../img/slider-arrow-right.svg');
    }
}

.c-hero-slide .slick-next {
    @include breakpoint(medium) {
        right: 0;
    }
}

.c-hero-slide .slick-dots {
    display: flex;
    margin-left: 0;

    position: absolute;
    bottom: rem-calc(35);
    left: 50%;

    transform: translateX(-50%);
}

.c-hero-slide .slick-dots button {
    display: none;

    -webkit-appearance: none;
}

.c-hero-slide .slick-dots li {
    display: block;
    width: rem-calc(10);
    height: rem-calc(10);
    margin-right: rem-calc(10);
    border-radius: 50%;

    background-color: rgba($color-beta, 0.4);
}

.c-hero-slide .slick-dots li.slick-active {
    background-color: $color-beta;
}

.c-hero-slide .slick-dots li:last-child {
    margin-right: 0;
}
