.c-logo {
    display: block;

    text-align: center;
}

.c-logo img {
    display: inline-block;
}

.c-logo--footer {
    @include breakpoint(medium) {
        margin-top: rem-calc(195);
        margin-bottom: rem-calc(100);
    }
    @include breakpoint(small only) {
        width: 7.5rem;
        margin-top: $space * 2;
        margin-bottom: $space * 3;
    }
}

.c-logo--header img {
    width: 10.5rem;
}

.c-logo--footer img {
    width: rem-calc(300);
}
