.c-menu {
    height: 100%;
    overflow-y: auto;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5;

    background-color: $color-beta;

    transition: right 300ms;

    @include breakpoint(small only) {
        width: 100%;
        padding-top: 4vh;
        padding-right: $grid-container-padding / 2;
        padding-left: $grid-container-padding / 2;
    }
    @include breakpoint(medium) {
        width: 41.5%;
        min-width: rem-calc(690);
        padding-top: rem-calc(70);
        padding-right: rem-calc(60);
        padding-bottom: $space;
    }

    &.is-active {
        right: 0;
    }
}

.c-menu__small-link {
    padding-bottom: $space * 1;

    color: $black;
    font-size: rem-calc(16);
}

.c-menu__small-link:hover,
.c-menu__small-link:active,
.c-menu__small-link:focus {
    color: $black;
    text-decoration: underline;
}

.c-menu__small-link--forgot::after {
    content: ' | ';
}

.c-menu--navigation {
    @include breakpoint(medium) {
        padding-left: rem-calc(90);
    }
}

.c-menu--login-register {
    @include breakpoint(medium) {
        padding-left: rem-calc(85);
    }
}

.c-menu__list-container {
    margin-left: 0;

    list-style-type: none;
}

.c-menu__list-item {
    position: relative;
}

.c-menu__link {
    @extend %utl-heading-gamma;

    color: $color-alpha;
    line-height: 1;
}

.c-menu__list-item:hover::after,
.c-menu__list-item:focus::after,
.c-menu__list-item.is-active::after {
    opacity: 1;
}

.c-menu__list-item:after {
    @include breakpoint(medium) {
        content: '';

        width: 113%;
        height: 0;
        padding-bottom: 3%;

        position: absolute;
        bottom: -5px;
        left: -8%;

        background-image: url('../img/dropdown-gradient-line-black.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;

        opacity: 0;
        transition: 300ms opacity linear;
    }
}

.c-menu__link:hover,
.c-menu__link:active,
.c-menu__link:focus {
    color: $color-alpha;
}

.c-menu__close {
    @include breakpoint(medium) {
        margin-bottom: 7.5vh;
    }
    @include breakpoint(small only) {
        margin-bottom: $space * 2;
    }
}

.c-menu__content {
    display: inline-block;
}

.c-menu--login-register .c-menu__content {
    width: 100%;
}

.c-menu__close {
    display: block;

    text-align: right;
}

.c-menu__close::before,
.c-menu__close::after {
    display: inline-block;

    vertical-align: middle;
}

.c-menu__close::before {
    content: 'Close';

    color: $color-alpha;
    font-size: rem-calc(16);
}

.c-menu__close::after {
    content: '';

    width: rem-calc(30);
    height: rem-calc(30);
    margin-left: rem-calc(10);

    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.c-menu__heading {
    @extend %utl-heading-gamma;

    padding-bottom: $space;
}

.c-menu__heading span {
    color: $black;
}

.c-menu__register-notice {
    font-size: rem-calc(16);

    @include breakpoint(small only) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.c-menu__register-notice,
.c-menu__register-notice a {
    color: $black;
}

.c-menu__note {
    position: relative;

    color: $color-alpha;

    @include breakpoint(medium) {
        padding-top: rem-calc(240);

        font-size: rem-calc(17);
    }
    @include breakpoint(small only) {
        padding-top: 9vh;

        font-size: rem-calc(16);
    }
}

// .c-menu--login-register::before {
//     @include breakpoint(medium) {
//         content: '';

//         width: rem-calc(160);
//         height: rem-calc(130);

//         position: absolute;
//         top: 300px;
//         left: 0;

//         background-image: url('../img/arrow-menu.svg');
//         background-repeat: no-repeat;
//         background-size: 100% auto;

//         transform: translateX(-50%);
//     }
// }
