.c-menu-icon {
    display: block;
    width: 40px;
    height: 30px;
    margin: 0 auto;

    position: relative;
}

.c-menu-icon__inner {
    display: block;
    margin-top: -2px;

    top: 50%;
}

.c-menu-icon__inner,
.c-menu-icon__inner:after,
.c-menu-icon__inner:before {
    width: 40px;
    height: 2px;

    position: absolute;

    background-color: $color-beta;

    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
}

.c-menu-icon__inner:after,
.c-menu-icon__inner:before {
    content: '';

    display: block;
}

.c-menu-icon__inner:before {
    top: -10px;
}

.c-menu-icon__inner:after {
    bottom: -10px;
}

.c-menu-icon__inner {
    transition-timing-function: cubic-bezier(0.55,0.055,0.675,0.19);
    transition-duration: 75ms;
}

.c-menu-icon__inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
}

.c-menu-icon__inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(0.55,0.055,0.675,0.19);
}

.c-menu-icon__inner.is-active {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215,0.61,0.355,1);
    transform: rotate(45deg);
}

.c-menu-icon__inner.is-active:before {
    top: 0;

    opacity: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
}

.c-menu-icon__inner.is-active:after {
    bottom: 0;

    transition: bottom 75ms ease,transform 75ms cubic-bezier(0.215,0.61,0.355,1) 0.12s;
    transform: rotate(-90deg);
}
