.c-post-preview--right {
    @include breakpoint(medium) {
        padding-left: rem-calc(50);
    }
}

.c-post-preview--left {
    @include breakpoint(medium) {
        padding-right: rem-calc(50);
    }
}

.c-post-preview__video {
    width: 100%;
    padding-bottom: 56.25%;

    position: relative;
}

.c-post-preview__video iframe {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}


.c-post-preview__video--mb {
    margin-bottom: rem-calc(35);
}

.c-post-preview__title {
    @extend %utl-heading-delta;

    display: block;

    @include breakpoint(small only) {
        padding-bottom: $space;
    }
}
