.c-post-card {
    width: 100%;
    padding-bottom: 64.4%;
    border-radius: 8%;
    overflow: hidden;

    position: relative;
    z-index: 1;

    &.is-dark {
        color: $color-alpha;
    }
}


.c-post-card__locked-label {
    padding-top: $space;

    color: $white;
    font-size: rem-calc(14);
    text-decoration: underline;
}

.c-post-card__inner,
.c-post-card__background-image,
.c-post-card__background-colour {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.c-post-card__background-colour {
    background-color: $color-beta;

    .c-post-card--locked & {
        opacity: 0.5;
    }
}

.c-post-card__background-image {
    background-position: center;
    background-size: cover;

    .c-post-card--locked & {
        opacity: 0.5;
    }
}

.c-post-card__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    z-index: 1;

    @include breakpoint(medium) {
        padding: 0.95rem 2rem;
    }
    @include breakpoint(small only) {
        padding: 1rem 1rem;
    }

    .c-post-card--unlocked & {
        text-shadow: 0 0 6px rgba(0,0,0,0.7);
    }
}

.c-post-card--locked::after {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    background-color: rgba($color-alpha, 0.6);
}

.c-post-card__taxonomy {
    font-size: rem-calc(16);
}

.c-post-card__meta {
    padding-top: rem-calc(25);

    color: $color-beta;
    font-size: rem-calc(16);
}

.c-post-card__meta::before {
    content: '';

    display: inline-block;
    width: rem-calc(39.18);
    height: rem-calc(34.6);

    background-image: url('../img/icon-tv.svg');

    vertical-align: middle;
}

.c-post-card__heading {
    @include breakpoint(medium only) {
        font-size: rem-calc(30);
    }
    @include breakpoint(small only) {
        font-size: 6.5vw;
    }
}
