.c-slider-progress {
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
        padding-top: $space * 2;
        padding-bottom: rem-calc(150);
    }
    @include breakpoint(small only) {
        padding-bottom: $space * 2;
    }
}

.c-slider-progress__cta {
    display: flex;
}

.c-slider-progress__slider-nav {
    width: rem-calc(72);
    height: rem-calc(72);
    border: rem-calc(1) solid $color-beta;
    border-radius: 50%;

    text-indent: -9999px;
}

.c-slider-progress__slider-nav {
    display: inline-block;

    background-image: url('../img/slider-chevron.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: rem-calc(13.85) rem-calc(27.71);
}

.c-slider-progress__slider-nav--previous {
    margin-right: rem-calc(5);
}

.c-slider-progress__slider-nav--next {
    transform: rotate(180deg);
    transform-origin: center;
}

.c-slider-progress__bar-container {
    width: calc(100% - 7.45rem);
    padding: 0 0 0 rem-calc(10);
}

.c-slider-progress__bar-full {
    height: rem-calc(1);
    padding: 0 0 0 rem-calc(10);

    position: relative;

    background-color: #3e5d69;
}

.c-slider-progress__bar {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: $color-beta;

    transition: 100ms linear width;
}
