.c-social-icon {
    width: rem-calc(56);
    height: rem-calc(56);
    border: rem-calc(1) solid $white;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint(small only) {
        transform: scale(0.75);
    }
}

.c-social-icon--linkedin {
    background-size: rem-calc(24.11) auto;
}

.c-social-icon--facebook {
    background-size: rem-calc(14.95) auto;
}

.c-social-icon--twitter {
    background-size: rem-calc(28.41) auto;
}

.c-social-icon--instagram {
    background-size: rem-calc(26.77) auto;
}
