.c-stat__heading {
    color: $black;
    font-family: $header-font-family-two;
    font-size: rem-calc(200);
}

.c-stat__description {
    color: $black;
    font-size: rem-calc(16);
    font-weight: bold;
    letter-spacing: rem-calc(1);
    text-transform: uppercase;
}
