.c-tab {
    position: relative;

    color: $white;
    text-align: center;

    @include breakpoint(medium) {
        padding: 1.5rem 2.2rem;
    }
    @include breakpoint(small only) {
        padding: 1.5rem 1.2rem;
    }
}

.c-tab::after {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: -0.2rem;
    left: 0;

    background-image: url('../img/line-circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0;
    transition: 200ms opacity linear;
}

.c-tab:hover::after,
.c-tab[aria-selected='true']::after {
    opacity: 1;
}

.c-tab:focus {
    outline: 0;
}
