.c-video-modal {
    max-width: 800px;
    padding: 0;

    @include breakpoint(medium) {
        width: 100%;
    }
    @include breakpoint(small only) {
        height: auto;
        min-height: 0;
    }
}

.c-video-modal__container {
    width: 100%;
    padding-bottom: 56.25%;

    position: relative;

    iframe {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }
}
