.c-widget {
    width: 100%;

    position: relative;

    @include breakpoint(medium) {
        z-index: 1;
    }
}

.c-widget--arrow::after {
    @include breakpoint(medium) {
        content: '';

        width: 7.05rem;
        height: 5rem;

        position: absolute;
        bottom: 26%;
        left: 0;

        background-image: url('../img/arrow-up.svg');
        background-position: center;
        background-size: 100% auto;

        transform: translateX(-50%);
    }
}

.c-widget--circle::after {
    @include breakpoint(medium) {
        content: '';

        width: 18rem;
        padding-bottom: 28%;

        position: absolute;
        top: -1px;
        left: 0;

        background-image: url('../img/line-circle.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.c-widget__inner {
    background-color: $color-alpha;

    @include breakpoint(medium) {
        padding: 4vw 4.4rem;
    }
}

.c-widget--hero .c-widget__inner {
    @include breakpoint(small only) {
        padding: 1.2rem 2.2rem;
    }
}

.c-widget--gallery-slider .c-widget__inner {
    @include breakpoint(small only) {
        padding: 4.5rem 0rem;
    }
}

.c-webinar__countdown-col {
    padding: rem-calc(0) rem-calc(5) rem-calc(10);
}

.c-webinar__countdown-col--border {
    border-right: 1px solid #3e5d69;
}

.c-widget__inner
.c-widget__cover {
    width: 100%;
    height: 100%;

    position: absolute;
}

.c-widget__cover {
    top: 0;
    left: 0;
}

.c-widget__small-title,
.c-widget__date-stamp {
    font-size: rem-calc(12);
}

.c-widget__date-stamp {
    padding-bottom: rem-calc(5);
}

.c-widget__small-title {
    font-weight: bold;
}

.c-widget__countdown {
    padding-bottom: rem-calc(20);
}

.c-widget__countdown-header {
    color: $color-beta;
    font-family: $header-font-family-two;
    font-size: rem-calc(60);
    line-height: 1;
}

.c-widget__countdown-unit {
    color: #3e5d69;
    font-size: rem-calc(12);
}

.c-widget__copy {
    padding-bottom: rem-calc(20);
}

.c-widget__copy p {
    line-height: 1.5;
}

.c-widget__inner::after,
.c-widget__inner::before,
.c-widget__cover::before,
.c-widget__cover::after {
    content: '';

    width: rem-calc(40);
    height: rem-calc(40);

    position: absolute;

    background-image: url('../img/chevron-square.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.c-widget__inner::before,
.c-widget__inner::after {
    top: rem-calc(20);
}

.c-widget__cover::before,
.c-widget__inner::before {
    @include breakpoint(medium) {
        left: rem-calc(20);
    }
    @include breakpoint(small only) {
        left: 0;
    }
}

.c-widget__inner::after {
    transform: rotate(90deg);
}
.c-widget__inner::after,
.c-widget__cover::after {
    @include breakpoint(medium) {
        right: rem-calc(20);
    }
    @include breakpoint(small only) {
        right: 0;
    }
}

.c-widget__cover::before,
.c-widget__cover::after {
    bottom: rem-calc(20);
}

.c-widget__cover::before {
    transform: rotate(-90deg);
}

.c-widget__cover::after {
    transform: rotate(180deg);
}

.c-widget__title {
    @extend %utl-heading-delta;

    margin-bottom: 4vh;

    color: $color-beta;

    .c-widget--circle & {
        height: rem-calc(80);
    }
}

.c-widget--gallery-slider .c-widget__title {
    @include breakpoint(medium) {
        width: 60%;
    }
}

.c-widget__content {
    position: relative;
    z-index: 1;
}
