.c-webinar-preview {
    width: 100%;
    height: 0;
    padding-bottom: 68%;
    border-radius: rem-calc(35);
    overflow: hidden;

    position: relative;

    background-size: cover;
}

.c-webinar-preview::after {
    @include breakpoint(medium) {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: rgba($color-alpha, 0.75);
    }
}

.c-webinar-preview__inner {
    display: flex;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.c-webinar-preview__content {
    margin-top: auto;
    padding: 2.5rem 5rem 2.5rem 2.5rem;

    color: $color-beta;
}

.c-webinar-preview__taxonomy {
    font-size: rem-calc(12);
    font-weight: bold;

    @include breakpoint(medium) {
        padding-bottom: rem-calc(20);
    }
}

.c-webinar-preview__title {
    @extend %utl-heading-delta;
}
