.blog-post {
    background-color: $white;

    @include breakpoint(medium) {
        padding-top: rem-calc(75);
        padding-bottom: rem-calc(75);
    }
    @include breakpoint(small only) {
        padding: $space * 3 0;
    }
}

.blog-post__inner {
    color: $black;
}

.blog-post__author,
.blog-post__date {
    display: block;

    font-weight: 600;
    text-transform: uppercase;
}

.blog-post__meta {
    padding-bottom: $space;
}

.blog-post__author {
    color: $color-alpha;
}

.blog-post__date {
    color: $color-beta;
}
