.case-study {
    background-color: $white;

    @include breakpoint(large) {
        padding-top: rem-calc(125);
        padding-bottom: rem-calc(200);
    }
    @include breakpoint(medium only) {
        padding-top: rem-calc(75);
        padding-bottom: rem-calc(75);
    }
    @include breakpoint(small only) {
        padding: $space * 3 0;
    }
}

.case-study__inner {
    color: $black;
}
