.student-persona-research__form-wrap {
    background-image: url('../img/intro-hero.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(small only) {
        padding: $space * 2 0;
    }
    @include breakpoint(medium) {
        padding: $space * 4 0;

        position: relative;
    }

    &:before {
        content: '';

        display: block;
        width: rem-calc(150);
        height: rem-calc(150);

        position: absolute;
        top: 0;
        left: 50%;

        background-image: url('../img/spr-squiggle.svg');
        background-repeat: no-repeat;
        background-size: contain;

        transform: translate(-50%, -25%);

        @include breakpoint(small only) {
            display: none;
        }
    }
}

.student-persona-research__form-hero {
    @include breakpoint(small only) {
        width: 75%;
        height: auto;
        margin: 0 auto $space * 2;

        text-align: center;
    }
}

.student-persona-research__form-title {
    margin-bottom: $space;
}
