@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

.ac-elements-footer {
    padding: 36px 36px 55px 36px;

    &.t-black, &.t-red {
        color: $white;
    }

    &.t-white, &.t-green {
        color: $black;
    }

    &.t-black {
        background-color: $black;
    }

    &.t-white {
        background-color: $white;
    }

    &.t-red {
        background-color: $red;
    }

    &.t-green {
        background-color: $green;
    }

    * {
        font-family: 'Work Sans',
        sans-serif !important;
        font-weight: 500 !important;
        letter-spacing: -0.3px !important;
        -webkit-font-smoothing: auto !important;
    }
}

.ac-elements-footer__wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.ac-elements-footer__logo {
    line-height: 1;
    min-width: 150px;

    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }

    img {
        width: 100%;
        max-width: 100%;
        vertical-align: baseline;
        display: inline-block;
    }
}

.ac-elements-footer__copy {
    font-weight: 400;
    line-height: 1.2;
    font-size: 16px;

    strong {
        font-weight: inherit;

        .t-black &, .t-white & {
            color: $red;
        }

        .t-red & {
            color: $white;
        }

        .t-green & {
            color: $black;
        }
    }
}

.ac-elements-footer__copy a,
.ac-elements-footer__copy a:hover,
.ac-elements-footer__copy a:focus {
    text-decoration: underline;
    color: $white;
}