.c-button,
%c-button {
    display: inline-block;
    padding: rem-calc(8) rem-calc(30);
    border-radius: rem-calc(30);

    font-family: $header-font-family;
    font-size: rem-calc(20);
}

%c-button--block,
.c-button--block {
    display: block;
    width: 100%;

    text-align: center;
}

.c-button--alpha,
%c-button--alpha {
    color: $color-alpha;

    background-color: $color-beta;
}

.c-button--alpha:hover,
%c-button--alpha:hover,
.c-button--alpha:focus,
%c-button--alpha:focus {
    color: $color-alpha;

    background-color: darken($color-beta, 12%);
}

%c-button--beta,
.c-button--beta {
    color: $white;

    background-color: $color-alpha;
}

.c-button--beta:hover,
%c-button--beta:hover,
.c-button--beta:focus,
%c-button--beta:focus {
    color: $white;

    background-color: darken($color-alpha, 12%);
}
