label,
%label {
    color: $black;
    font-family: 'Open Sans';
    font-size: responsive-type(rem-calc(16), rem-calc(16), rem-calc(320), $global-width);
}

[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
textarea {
    display: block;
    width: 100%;
    padding: $space / 2;
    padding: rem-calc(15) rem-calc(13);
    border: none;
    border-radius: rem-calc(12);

    font-family: $body-font-family;

    transition: border-color $base-timing $base-transition;

    outline: none;
    // Remove default iOS form elements
    // https://samuelchopard.ch/wiki/library/remove-ios-safari-input-shadow-mobile-css/

    appearance: none;
}


[type=file] {
    padding: 0;
    border: none;
}

[type=search],
[type=submit] {
    border: 0;

    outline: 0;

    -webkit-appearance: none;
}

textarea {
    min-height: rem-calc(100);
}

@mixin input-placeholder {
    color: $color-alpha;
    font-size: rem-calc(16);
    text-transform: uppercase;
}


::placeholder {
    opacity: 1;

    @include input-placeholder();
}

:-ms-input-placeholder() {
    @include input-placeholder();
}

::-ms-input-placeholder() {
    @include input-placeholder();
}
