@mixin responsive-type($min-font-size, $max-font-size, $min-breakpoint, $max-breakpoint) {
    font-size: rem-calc($min-font-size);
    font-size: responsive rem-calc($min-font-size) rem-calc($max-font-size);

    font-range: $min-breakpoint $max-breakpoint;
}

@mixin full-height-block {
    @include breakpoint(medium) {
        height: 100vh;
    }

    @media (max-height: 730px) {
        height: auto;
    }
}
