@font-face {
    font-family: 'Hackney';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Hackney.woff2') format('woff2'),
    url('../fonts/Hackney.woff') format('woff');
}

h1,
.utl-heading-alpha,
%utl-heading-alpha,
h2,
.utl-heading-beta,
%utl-heading-beta,
h3,
.utl-heading-gamma,
%utl-heading-gamma {
    margin: 0 0 $space / 3;

    color: $white;
    font-weight: 400;
}

h1,
.utl-heading-alpha,
%utl-heading-alpha,
h3,
.utl-heading-gamma,
%utl-heading-gamma,
h4,
.utl-heading-delta,
%utl-heading-delta,
h5,
.utl-heading-delta,
%utl-heading-delta {
    font-family: $header-font-family;
}

h1 p,
.utl-heading-alpha p,
%utl-heading-alpha p,
h2 p,
.utl-heading-beta p,
%utl-heading-beta p,
h3 p,
.utl-heading-gamma p,
%utl-heading-gamma p,
h4 p,
.utl-heading-delta p,
%utl-heading-delta p,
h5 p,
.utl-heading-delta p,
%utl-heading-delta p {
    font-size: inherit;
    line-height: inherit;
}

h2,
.utl-heading-beta,
%utl-heading-beta {
    font-family: $header-font-family-two;
}

h1,
.utl-heading-alpha,
%utl-heading-alpha {
    line-height: 0.95;

    @include responsive-type(30, 60, rem-calc(320), $global-width);
}

h2,
.utl-heading-beta,
%utl-heading-beta {
    color: $color-beta;
    line-height: 1;

    @include responsive-type(50.25, 65.25, rem-calc(320), $global-width);
}

h3,
.utl-heading-gamma,
%utl-heading-gamma {
    line-height: 1;

    @include responsive-type(30, 45, rem-calc(320), $global-width);
}

h4,
.utl-heading-delta,
%utl-heading-delta {
    line-height: 1;

    @include responsive-type(37.5, 37.5, rem-calc(320), $global-width);
}

h5,
.utl-heading-epsilon,
%utl-heading-epsilon {
    line-height: 1;

    @include responsive-type(16.5, 31.5, rem-calc(320), $global-width);
}

a {
    display: inline-block;

    color: $color-beta;
    font-weight: 400;

    transition: color $base-timing $base-transition;

    &:hover {
        color: $color-beta;
    }
}
