.s-contact-preview-dropdown {
    color: #666;

    .gform_wrapper .gform_footer input[type=submit] {
        display: none;
    }

    .dk-select-open-up .dk-selected:before,
    .dk-select-open-down .dk-selected:before {
        border-bottom-color: $black;
    }

    .dk-selected:hover:before,
    .dk-selected:focus:before,
    .dk-selected:before {
        border-top-color: $black;
    }

    .dk-select-options .dk-option {
        color: $white;
    }

    .dk-select-options .dk-option-highlight {
        color: $color-beta;

        background-color: $color-alpha;
    }

    .dk-select-open-up .dk-select-options,
    .dk-select-open-down .dk-select-options,
    .dk-selected {
        border-radius: 5px;
    }

    .dk-select-open-up .dk-select-options,
    .dk-select-open-down .dk-select-options {
        border-color: transparent;
    }

    .dk-selected {
        padding: 0;

        font-weight: bold;
    }

    .dk-selected {
        color: $color-alpha;

        background-color: transparent;
    }

    .dk-select-options {
        background-color: $color-alpha;
    }

    .dk-option {
        padding: 0 0.2rem;
    }
}
