.s-contact-form {
    .dk-selected {
        border-radius: 20px;
    }

    .dk-selected {
        @include input-placeholder();
    }

    .dk-option {
        color: $color-alpha;

        @include input-placeholder();
    }

    .dk-option,
    .dk-selected {
        @include breakpoint(medium) {
            padding: 13px 30px;
        }
        @include breakpoint(small only) {
            padding: 10px 20px;
        }
    }

    .dk-select-options .dk-option-highlight,
    .dk-option-selected {
        color: $white;

        background-color: $color-alpha;
    }

    .dk-select-open-up .dk-select-options,
    .dk-select-open-down .dk-select-options {
        border-width: rem-calc(1);
        border-style: solid;
        border-color: $color-alpha;
    }

    .gform_wrapper .gform_footer input[type=submit] {
        @extend %c-button,
        %c-button--alpha;
    }

    #input_6_6_1_container,
    #input_6_6_2_container {
        display: inline-block;
        width: calc(50% - 5px);
    }

    #input_6_6_1_container {
        margin-right: 10px;
    }

    #input_6_6_2 {
        display: none !important;
    }
}
