.s-dropkick {
    .dk-select,
    .dk-select-multi {
        width: 100%;
    }

    .dk-option.gf_placeholder {
        display: none;
    }

    .dk-selected {
        border-color: transparent;
    }

    .dk-select-open-up .dk-selected {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .dk-select-open-down .dk-selected {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .dk-select-open-up .dk-selected:after,
    .dk-select-open-down .dk-selected:after,
    .dk-selected:hover:after,
    .dk-selected:focus:after,
    .dk-selected:after {
        border-left-color: transparent;
    }

    .dk-select-options {
        padding-top: 0;
        padding-bottom: 0;
    }

    .dk-selected {
        border-width: 2px;
    }
}
