.s-gallery-slider {
    .swiper-slide {
        transition: transform 200ms;
    }

    .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.8);
        transform-origin: center;
    }
}
