.s-gravity-form {
    .gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
    .gform_wrapper textarea {
        margin-top: 0;
        border-radius: 30px;

        font-size: rem-calc(16);

        @include breakpoint(medium) {
            padding: 21px 30px;
        }
        @include breakpoint(small only) {
            padding: 10px 20px;
        }
    }

    .ginput_container_password:not(.ginput_complex) span {
        display: block;
    }

    .ginput_container_consent {
        line-height: 1;
    }

    .gform_wrapper .gfield_required {
        display: none;
    }

    .gform_wrapper ul.gform_fields li.gfield {
        padding-right: 0;
    }

    .gform_wrapper div.validation_error,
    .gform_wrapper .gfield_description {
        font-size: rem-calc(14);
    }

    .gform_confirmation_message {
        padding-bottom: rem-calc(50);

        color: $color-alpha;
    }

    .gform_confirmation_message a {
        color: inherit;
        font-weight: bold;
    }

    #field_4_3 {
        margin-right: 14.5px;
    }

    .gform_wrapper .gform_footer input[type=submit] {
        .c-menu--login-register & {
            display: none;
        }
    }

    .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
        padding-right: 15px;
        padding-left: 15px;
    }

    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: none !important;
    }

    .gf_login_links {
        display: none;
    }

    #input_3 {
        display: none;
    }

    .gform_wrapper .ginput_container span:not(.ginput_price) {
        display: inline-block;
    }

    .gfield_label {
        .student-persona-research & {
            display: none !important;
        }
    }
}
