.s-login-form {
    .gform_wrapper .gform_footer input[type=submit] {
        display: none;
    }

    .gform_wrapper .top_label .gfield_label {
        display: none;
    }

    .gform_footer {
        display: none;
    }
}
