.utl-highlighted,
.utl-color-beta {
    color: $color-beta;
}

.utl-gradient {
    position: relative;
}

.utl-gradient::after {
    content: '';

    height: 140vh;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: rgb(61,248,182);
    background: linear-gradient(0deg, rgba(61,248,182,0.20351890756302526) 0%, rgba(5,13,24,0.5844712885154062) 53%);
}

.utl-sunshine {
    position: relative;

    &.o-footer::after {
        height: rem-calc(250);
    }
}

.utl-sunshine::after {
    content: '';

    height: 35vh;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    background-image: url('../img/sunburst.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.utl-swirly-arrow {
    @include breakpoint(medium) {
        position: relative;
    }
}

.utl-swirly-arrow::after {
    @include breakpoint(medium) {
        content: '';

        width: rem-calc(110);
        height: 9rem;

        position: absolute;
        bottom: 0;
        left: 50%;

        background-image: url('../img/arrow-down.svg');
        background-position: center;
        background-size: 100% auto;

        transform: translateX(-50%) translateY(47%);
    }
}

.utl-swoop-arrow {
    @include breakpoint(medium) {
        position: relative;
    }
}

.utl-swoop-arrow::after {
    @include breakpoint(medium) {
        content: '';

        width: 5.5rem;
        height: 15rem;

        position: absolute;
        bottom: 0;
        left: 60%;

        background-image: url('../img/swirly-arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;

        transform: translateX(-50%) translateY(25%);
    }
}

.utl-disable-y-scroll {
    overflow-y: hidden;
}
