// Foundation Overrides
$breakpoint-classes: (small medium large);
$global-width: 1300px;
$grid-container: $global-width;
$global-font-size: rem-calc(20);
$grid-container-padding: rem-calc(60);

$body-font-family: 'Open Sans';
$header-font-family: 'Bree Serif', Arial, Helvetica, sans-serif;
$header-font-family-two: 'Hackney', 'Bree Serif', Arial;

$black: #000;
$white: #fff;

$unicom-blue: #050d18;
$unicom-green: #3df8b6;

$color-alpha: $unicom-blue;
$color-beta: $unicom-green;

$paragraph-font-color: $color-alpha;
$body-font-color: $white;
$paragraph-lineheight: 1.2;

$global-weight-normal: 400;
$base-line-height: 1.5;

$body-background: $color-alpha;

$anchor-color: $color-beta;
$anchor-color-hover: $color-beta;

// Spacing
$small-spacing: $global-font-size / 2;
$space: $global-font-size;
$space-half: $small-spacing;
$space-third: $space / 3;
$space-quarter: $space / 4;

// Transitions
$base-timing: 0.2s;
$base-transition: ease-in-out;

$offcanvas-sizes: (small: 100vw,
  medium: 100vw,
  large: 100vw);

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1300px,
  xxlarge: 1640px,
);
