@import 'variables';

.utl-highlighted {
    color: $color-beta;
}

/* Block width */

.wp-block {
    max-width: 1200px;
}

.wp-block[data-align='wide'] {
    max-width: 1200px;
}

// .edit-post-visual-editor {
//     background-color: $body-background;
// }

// .editor-post-title__input {
//     color: $paragraph-font-color;
// }

.login-action-lostpassword {
    background-color: $color-alpha;
}

.login-action-lostpassword #wp-submit {
    border-width: 0;

    background-color: $color-alpha;
}
